body {
    background-image: url("https://cdn.pixabay.com/photo/2016/05/28/00/06/gift-1420830__340.jpg");
    background-color: #cccccc;
    /* background-repeat: no-repeat; */

  }
  

  .column {
    float: left;
    width: 50%;
    padding: 80px;
    height: 80%; 
    border: 3px solid black;
  }
  .column2 {
    float: right;
    width: 60%;
    padding: 80px;
    height: 80%; 
    border: 3px solid black;
    margin-top:9%;

  }
  
 
  .row:after {
    content: "";
   
  }